<!-- http://hfcqgis.opendatasicilia.it -->
 
{% extends "!layout.html" %}
{% block extrahead %}
    {{ super() }}
<!-- site-verification--> 
<meta name="google-site-verification" content="LOI7O9pybWitiu3PFXPVrYR_RtXB9bUrekGmQNxSvA0" />
<meta name="msvalidate.01" content="7FD596F815AD7DBC1B1D05590F271FE7" />
<meta http-equiv="content-language" content="IT">	
<meta name="creation_Date" content="23/11/2018">
<meta name="keywords" content="">	
<meta name="author" content="RTD by OpenDataSicilia.it">
<meta name="robots" content="index,follow">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- facebook --> 
<meta property="og:title" content="{{ title|striptags|e }}" />
<meta property="og:description" content="iXMapsDoc - Manuale per d'uso per iXMaps - Crea mappe tematiche multistrato in grafica vettoriale (SVG) con riquadri vettoriali stylable e grafici partizionati. Tutto gestito da una GUI reattiva e mobile compatibile in HTML5" />
<meta property="og:url" content="http://ixmapsdoc.opendatasicilia.it/it/latest/{{ theme_canonical_url }}{{ pagename }}.html" />
<meta property="og:type" content="article" />
<meta property="article:author" content="Guenter Richter" />
<meta property="article:tag" content="ixmapsdoc" />
<meta property="article:tag" content="ixmaps" />
<meta property="article:tag" content="opendatasicilia" />
<meta property="og:image" content="https://raw.githubusercontent.com/opendatasicilia/iXMapsDoc/master/img/ixmapsdoc_social.png" />
<meta property="og:site_name" content="ixmapsdoc.opendatasicilia.it" />

<!-- twitter --> 
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="{{ title|striptags|e }}">
<meta name="twitter:description" content="iXMapsDoc - Manuale per d'uso per iXMaps - Crea mappe tematiche multistrato in grafica vettoriale (SVG) con riquadri vettoriali stylable e grafici partizionati. Tutto gestito da una GUI reattiva e mobile compatibile in HTML5">
<meta name="twitter:image" content="https://raw.githubusercontent.com/opendatasicilia/iXMapsDoc/master/img/ixmapsdoc_social.png">
<meta name="twitter:creator" content="Guenter Richter">
<meta name="twitter:site" content="ixmapsdoc.opendatasicilia.it" />
<meta name="twitter:url" content="http://ixmapsdoc.opendatasicilia.it/it/latest/{{ theme_canonical_url }}{{ pagename }}.html">
<!-- css theme_overrides.css -->
<link href="{{ pathto("_static/theme_overrides.css", True) }}" rel="stylesheet" type="text/css" />

<!-- css back top -->
<!--  <link href="{{ pathto("_static/jquerysctipttop.css", True) }}" rel="stylesheet" type="text/css" /> -->
<link href="{{ pathto("_static/backTop.css", True) }}" rel="stylesheet" type="text/css" />

<!-- Css  Navbar --> 
<link href="{{ pathto("_static/navbar_phub.css", True) }}" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->


<!-- Script -->
<script type="text/javascript" src="{{ pathto("_static/jquery.min.js", True) }}"></script> 

<!-- eu-cookie-lawt -->
<script type="text/javascript" src="{{ pathto("_static/jquery-2.1.3.min.js", True) }}"></script> 
<script type="text/javascript" src="{{ pathto("_static/jquery-eu-cookie-law-popup.js", True) }}"></script> 
<link href="{{ pathto("_static/jquery-eu-cookie-law-popup.css", True) }}" rel="stylesheet" type="text/css" />

 {% endblock %}
 

<!-- http://ixmapsdoc.opendatasicilia.it -->  

{% block footer %}
      {{ super() }}
<div class="eupopup eupopup-top "></div>

<!-- nav bar --> 
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button> <a class="navbar-brand" href="http://ixmapsdoc.opendatasicilia.it" title="iXMapsDoc - Manuale per d'uso per iXMaps - Crea mappe tematiche multistrato in grafica vettoriale (SVG) con riquadri vettoriali stylable e grafici partizionati. Tutto gestito da una GUI reattiva e mobile compatibile in HTML5" target="_blank" > <img src="https://raw.githubusercontent.com/opendatasicilia/iXMapsDoc/master/img/logo_oriz.png" alt="#" title="#" width="200" height="31" border="0" style="margin-top:-5px; margin-left:0px;"> </a></div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li ><a href="http://ixmapsdoc.opendatasicilia.it" title="Home" target="_parent"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
        <!-- inizio menu 1 --> 
<li> <a href="#" class="dropdown-toggle" data-toggle="dropdown">Menu 1 <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
            <li> <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret caret-right"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li> <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret caret-right"></b></a>
                  <ul class="dropdown-menu">
                    <li> <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret caret-right"></b></a>
                      <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </li>
              <!-- fine menu 1 --> 

              <!-- ultima posizione menu -->
<li><a href="http://ixmapsdoc.opendatasicilia.it/it/latest/ods.html" title="OpenDataSicilia" target="_parent"><i class="fa fa-users" aria-hidden="true"></i> About</a>      </li>
<li><a href="http://ixmapsdoc.opendatasicilia.it/it/latest/privacy.html" title="Informativa privacy estesa" target="_parent"><i class="fa fa-info" aria-hidden="true"></i> Privacy </a></li>
<li ><a href="https://github.com/opendatasicilia/iXMapsDoc" title="Github" target="_parent"><i class="fa fa-github" aria-hidden="true"></i> On GitHub</a></li>
<li><a href="http://ixmapsdoc.opendatasicilia.it/it/latest/sitemap.html" title="Mappa del sito" target="_parent"><i class="fa fa-map-signs" aria-hidden="true"></i> Mappa del sito</a></li>  



<li>{%- if builder != 'singlehtml' %}
<div role="search" class="wy-form">
  <form id="rtd-search-form" class="wy-form" action="{{ pathto('search') }}" method="get">
    <input type="text" name="q" style="margin-top:10px; margin-left:10%; width: 80%;border-radius:20px; border-color: #FF0000; background-image: url(https://raw.githubusercontent.com/opendatasicilia/iXMapsDoc/master/static/search_01.png); background-repeat: no-repeat; background-position: 10px; background-size: 15px; font-weight: bold; padding: 6px 30px; color:#333333!important;" placeholder="{{_('cerca su iXMapsDoc') }}" />
    <input type="hidden" name="check_keywords" value="yes" />
    <input type="hidden" name="area" value="default" />
  </form>
</div>
{%- endif %}      </li>

     </ul>
    </div>
    <!--/.nav-collapse --> 
  </div>

</div>
<!-- /.container --> 

<!-- script Back To Top  -->
      <div class="footerc">
   <a id='backTop'>Back To Top</a>

<!-- script Hide Navbar --> 
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>  
<!-- Include all compiled plugins (below), or include individual files as needed --> 
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> 
<script type="text/javascript" src="{{ pathto("_static/navbar.js", True) }}"></script> 
 
 <!-- script toptoback automatico mobile/desktop -->  
<script type="text/javascript" src="{{ pathto("_static/jquery.backTop.min.js", True) }}"></script>
<script>
            $(document).ready( function() {
                $('#backTop').backTop({
                    'position' : 400,
                    'speed' : 300,
                    'color' : 'red',
					
					                });
            });
        </script>
      </div>
	  
     <!-- Reading Progress Bar on Scroll - disattivare jquery-3.1.1.min.js se nella stessa pagina si usa top to back -->
<!-- <script type="text/javascript" src="{{ pathto("_static/jquery-3.1.1.min.js", True) }}"></script>  -->
<script type="text/javascript" src="{{ pathto("_static/prognroll.js", True) }}"></script>
<script>
    $(function() {
      $("body").prognroll({
        height: 3, //Progress bar height in pixels
        color: "#781F1F", //Progress bar background color
      });
    });
</script>

  
<!-- Go to www.addthis.com/dashboard to customize your tools --> 
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5bf7d723266dab94"></script> 

 {% endblock %}
