<!-- http://hfcqgis.opendatasicilia.it -->  
{% extends "!layout.html" %}
{% block extrahead %}
    {{ super() }}
<meta property="og:title" content="HfcQGIS - Help funzioni calcolatore di campi di QGIS" />
<meta property="og:description" content="Questa guida nasce per rispondere alle numerose richieste di aiuto sull’uso del calcolatore di campi e per colmare un vuoto sulla guida online di QGIS con esempi e molti screenshot." />
<meta property="og:url" content="http://hfcqgis.opendatasicilia.it/" />
<meta property="article:author" content="Salvatore Fiandaca" />
<meta property="og:image" content="https://raw.githubusercontent.com/gbvitrano/HfcQGIS/master/img/hfc_social.png" />
<meta property="og:site_name" content="hfcqgis.opendatasicilia.it" />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="HfcQGIS - Help funzioni calcolatore di campi di QGIS">
<meta name="twitter:description" content="Questa guida nasce per rispondere alle numerose richieste di aiuto sull’uso del calcolatore di campi e per colmare un vuoto sulla guida online di QGIS con esempi e molti screenshot.">
<meta name="twitter:image" content="https://raw.githubusercontent.com/gbvitrano/HfcQGIS/master/img/hfc_social.png">
<meta name="twitter:creator" content="Salvatore Fiandaca">
<meta name="twitter:site" content="hfcqgis.opendatasicilia.it" />
<meta name="twitter:url" content="http://hfcqgis.opendatasicilia.it/">
<!-- css theme_overrides.css -->
<link href="{{ pathto("_static/theme_overrides.css", True) }}" rel="stylesheet" type="text/css" />
<!-- css back top -->
<!--<link href="../_static/jquerysctipttop.css" rel="stylesheet" type="text/css" />-->
<link href="{{ pathto("_static/jquerysctipttop.css", True) }}" rel="stylesheet" type="text/css" />
<!--<link href="../_static/backTop.css" rel="stylesheet" type="text/css" />-->
<link href="{{ pathto("_static/backTop.css", True) }}" rel="stylesheet" type="text/css" />
<!-- Script -->
<!--<script type="text/javascript" src="../_static/jquery.min.js"></script> -->
<script type="text/javascript" src="{{ pathto("_static/jquery.min.js", True) }}"></script> 

<!-- eu-cookie-lawt -->
<script type="text/javascript" src="../_static/jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="../_static/jquery-eu-cookie-law-popup.js"></script>
<link href="{{ pathto("_static/jquery-eu-cookie-law-popup.css", True) }}" rel="stylesheet" type="text/css" />

 {% endblock %}
 

<!-- http://hfcqgis.opendatasicilia.it -->  

{% block footer %}
      {{ super() }}
<div class="eupopup eupopup-top "></div>
	   <!-- script Back To Top  -->
      <div class="footerc">
          <a id='backTop'>Back To Top</a>
 <!-- script toptoback automatico mobile/desktop -->  
 <!-- <script type="text/javascript" src="../_static/jquery.backTop.min.js"></script> -->
<script type="text/javascript" src="{{ pathto("_static/jquery.backTop.min.js", True) }}"></script>
<script>
            $(document).ready( function() {
                $('#backTop').backTop({
                    'position' : 400,
                    'speed' : 300,
                    'color' : 'red',
					
					                });
            });
        </script>
      </div>
	  
	  <script>
			$(document).ready(function(){
				$('.csbuttons').cSButtons({total : #total","url" : "http://hfcqgis.opendatasicilia.it/it/latest/",});
			});
		</script>
		
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5b4bb82cddf7f677"></script>
 {% endblock %}