<!-- http://hfcqgis.opendatasicilia.it -->  
{% extends "!layout.html" %}
{% block extrahead %}
    {{ super() }}
<!-- site-verification--> 
<meta name="google-site-verification" content="LOI7O9pybWitiu3PFXPVrYR_RtXB9bUrekGmQNxSvA0" />
<meta name="msvalidate.01" content="7FD596F815AD7DBC1B1D05590F271FE7" />
<meta http-equiv="content-language" content="IT">	
<meta name="creation_Date" content="23/11/2018">
<meta name="keywords" content="">	
<meta name="author" content="RTD by OpenDataSicilia.it">
<meta name="robots" content="index,follow">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- facebook --> 
<meta property="og:title" content="{{ title|striptags|e }}" />
<meta property="og:description" content="iXMapsDoc - Manuale per d'uso per iXMaps - Crea mappe tematiche multistrato in grafica vettoriale (SVG) con riquadri vettoriali stylable e grafici partizionati. Tutto gestito da una GUI reattiva e mobile compatibile in HTML5" />
<meta property="og:url" content="http://ixmapsdoc.opendatasicilia.it/it/latest/{{ theme_canonical_url }}{{ pagename }}.html" />
<meta property="og:type" content="article" />
<meta property="article:author" content="Guenter Richter" />
<meta property="article:tag" content="ixmapsdoc" />
<meta property="article:tag" content="ixmaps" />
<meta property="article:tag" content="opendatasicilia" />
<meta property="og:image" content="https://raw.githubusercontent.com/opendatasicilia/iXMapsDoc/master/img/ixmapsdoc_social.png" />
<meta property="og:site_name" content="ixmapsdoc.opendatasicilia.it" />

<!-- twitter --> 
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="{{ title|striptags|e }}">
<meta name="twitter:description" content="iXMapsDoc - Manuale per d'uso per iXMaps - Crea mappe tematiche multistrato in grafica vettoriale (SVG) con riquadri vettoriali stylable e grafici partizionati. Tutto gestito da una GUI reattiva e mobile compatibile in HTML5">
<meta name="twitter:image" content="https://raw.githubusercontent.com/opendatasicilia/iXMapsDoc/master/img/ixmapsdoc_social.png">
<meta name="twitter:creator" content="Guenter Richter">
<meta name="twitter:site" content="ixmapsdoc.opendatasicilia.it" />
<meta name="twitter:url" content="http://ixmapsdoc.opendatasicilia.it/it/latest/{{ theme_canonical_url }}{{ pagename }}.html">
<!-- css theme_overrides.css -->
<link href="{{ pathto("_static/theme_overrides.css", True) }}" rel="stylesheet" type="text/css" />

<!-- css back top -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel='stylesheet prefetch' href='https://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>

<!-- Css  Navbar --> 
<link href="{{ pathto("_static/navbar_phub.css", True) }}" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

<!-- Script -->
<script type="text/javascript" src="{{ pathto("_static/jquery.min.js", True) }}"></script> 

<!-- eu-cookie-lawt -->
<script type="text/javascript" src="{{ pathto("_static/jquery-2.1.3.min.js", True) }}"></script> 
<script type="text/javascript" src="{{ pathto("_static/jquery-eu-cookie-law-popup.js", True) }}"></script> 
<link href="{{ pathto("_static/jquery-eu-cookie-law-popup.css", True) }}" rel="stylesheet" type="text/css" />

 {% endblock %}
 

<!-- http://ixmapsdoc.opendatasicilia.it -->  

{% block footer %}
      {{ super() }}
<div class="eupopup eupopup-top "></div>
<!-- Hide Navbar --> 
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navbar-top" aria-expanded="false"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
      <a class="navbar-brand" href="/">Brand</a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-top">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" data-toggle="collapse" data-target=".navbar-collapse.in">Contact</a></li>
        <li><a href="#" data-toggle="collapse" data-target=".navbar-collapse.in">About</a></li>
      </ul>
    </div>
  </div>
</nav>



<!-- script Hide Navbar --> 
 <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>  
 <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js'></script> 
 <script type="text/javascript" src="{{ pathto("_static/navstrap.min.j", True) }}"></script>
  <script>
    $(function () {
      'use strict';

      $('.navbar').NavStrap().ShowOrHideOnScroll({
        delta: 5,
        speed: 250,
        shadow: true
      });
    });
  </script>


	   <!-- script Back To Top  -->
      <div class="footerc">
   <a id='backTop'>Back To Top</a>
 
 <!-- script toptoback automatico mobile/desktop -->  
<script type="text/javascript" src="{{ pathto("_static/jquery.backTop.min.js", True) }}"></script>
<script>
            $(document).ready( function() {
                $('#backTop').backTop({
                    'position' : 400,
                    'speed' : 300,
                    'color' : 'red',
					
					                });
            });
        </script>
      </div>
	  
     <!-- Reading Progress Bar on Scroll - disattivare jquery-3.1.1.min.js se nella stessa pagina si usa top to back -->
<!-- <script type="text/javascript" src="{{ pathto("_static/jquery-3.1.1.min.js", True) }}"></script>  -->
<script type="text/javascript" src="{{ pathto("_static/prognroll.js", True) }}"></script>
<script>
    $(function() {
      $("body").prognroll({
        height: 3, //Progress bar height in pixels
        color: "#781F1F", //Progress bar background color
      });
    });
</script>

  
<!-- Go to www.addthis.com/dashboard to customize your tools --> 
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5bf7d723266dab94"></script> 

 {% endblock %}
